<section class="page-width">
  <h3>FAQのタイトル</h3>
  <dl>
    <dt>質問1：配送業者はどこですか？</dt>
    <dd>回答1：ヤマト運輸でのお届けとなります。</dd>
    <dt>質問2：配送先住所を変更できますか？</dt>
    <dd>回答2：可能ですよ。お問い合わせフォームからご連絡ください。</dd>
  </dl>
</section>

{% schema %}
  {
    "name": "FAQ",
    "presets": [
      {
        "name": "FAQ"
      }
    ]
  }
{% endschema %}
{% comment %} これで管理画面にセクションとして追加できる様になる {% endcomment %}